@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.cabecalho {
  padding: 1% 8%;
}
@media screen and (max-width: 832px) {
  .cabecalho {
    padding: 3% 4%;
  }
}
.cabecalho .cabecalho__nav .nav__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .cabecalho .cabecalho__nav .nav__lista {
    row-gap: 20px;
  }
}
@media screen and (max-width: 428px) {
  .cabecalho .cabecalho__nav .nav__lista {
    justify-content: center;
    gap: 40px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  .cabecalho .cabecalho__nav .nav__lista .nav__lista-item__link {
    display: none;
  }
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__link .cabecalho__nav-link {
  color: #1e1e1e;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__menu {
  display: none;
}
@media screen and (max-width: 760px) {
  .cabecalho .cabecalho__nav .nav__lista .nav__lista-item__menu {
    display: block;
    cursor: pointer;
  }
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__loc {
  flex: 0.7;
}
@media screen and (max-width: 1200px) {
  .cabecalho .cabecalho__nav .nav__lista .nav__lista-item__loc {
    flex: 1 1 100%;
    order: 1;
    padding: 0 5%;
  }
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__loc #localizacao-form > #localizacao-input {
  background-image: url("/assets/header/location_on.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  padding: 0.8em;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__loc #localizacao-form > #localizacao-input:focus {
  outline: none;
  border: 1px solid #1e1e1e;
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__icons {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .cabecalho .cabecalho__nav .nav__lista .nav__lista-item__icons {
    gap: 20px;
  }
}
@media screen and (max-width: 342px) {
  .cabecalho .cabecalho__nav .nav__lista .nav__lista-item__icons {
    display: none;
  }
}
.cabecalho .cabecalho__nav .nav__lista .nav__lista-item__icons .cabecalho__nav-link {
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/assets/banners/Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
@media screen and (max-width: 760px) {
  .banner {
    height: 35vh;
  }
}
@media screen and (max-width: 428px) {
  .banner {
    height: 25vh;
  }
}
.banner .banner__container {
  width: auto;
  height: auto;
  padding-left: 8%;
}
@media screen and (max-width: 832px) {
  .banner .banner__container {
    padding-left: 4%;
  }
}
.banner .banner__container .banner__titulo {
  width: 84%;
  color: #ffffff;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4.75rem;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (max-width: 760px) {
  .banner .banner__container .banner__titulo {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media screen and (max-width: 428px) {
  .banner .banner__container .banner__titulo {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
  }
}
.banner .banner__container .banner__titulo span {
  color: #6f99ff;
}

.filmes {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 5%;
}
.filmes .filmes__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .filmes .filmes__menu {
    padding: 0 8%;
  }
}
@media screen and (max-width: 832px) {
  .filmes .filmes__menu {
    padding: 0 4%;
  }
}
.filmes .filmes__menu .filmes__menu__lista {
  display: flex;
  gap: 15px;
  align-self: flex-start;
  padding-left: 8%;
}
@media screen and (max-width: 1200px) {
  .filmes .filmes__menu .filmes__menu__lista {
    padding: 0;
  }
}
.filmes .filmes__menu .filmes__menu__lista .menu__lista-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
.filmes .filmes__menu .filmes__menu__lista .menu__lista-item__cartaz {
  border-bottom: 1px solid #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}
.filmes .filmes__menu form {
  width: 100%;
  text-align: center;
}
.filmes .filmes__menu form #filme-busca {
  background-image: url("/assets/cartaz/search.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  width: 45%;
  padding: 0.875em;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .filmes .filmes__menu form #filme-busca {
    width: 100%;
  }
}
.filmes .filmes__menu form #filme-busca::placeholder {
  color: #464646;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}
.filmes .filmes__menu form #filme-busca:focus {
  outline: none;
  border: 1px solid #1e1e1e;
}
.filmes .filmes__cartaz {
  padding: 0 8%;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 832px) {
  .filmes .filmes__cartaz {
    padding: 0 4%;
  }
}
.filmes .filmes__cartaz .cartaz__titulo {
  margin-bottom: 2.5rem;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.filmes .filmes__cartaz .cartaz__lista {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  box-shadow: 0 4px 24px 0 #7b7b7b;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__lista-item__titulo {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao {
  margin-top: auto;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha .descricao__dimensao {
  background-color: #efefef;
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha .descricao__classificacao {
  background-color: #f5d010;
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha .dimensao__3d {
  background-color: #a6a6a6;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha .classificacao__livre {
  background-color: #c3ff95;
}
.filmes .filmes__cartaz .cartaz__lista .cartaz__lista-item .cartaz__texto-container .cartaz__descricao .cartaz__descricao__linha:nth-child(1) {
  margin-bottom: 0.25rem;
}

.banner-pipoca {
  background-image: url("/assets/banners/Banner-Pipoca.png");
  height: 52vh;
  margin-top: 8%;
}
@media screen and (max-width: 760px) {
  .banner-pipoca {
    height: 32vh;
  }
}
@media screen and (max-width: 428px) {
  .banner-pipoca {
    height: 22vh;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #ccdbff;
  padding: 4% 8%;
}
.newsletter .newsletter__container .newsletter__titulo {
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.newsletter .newsletter__inscricao {
  width: 100%;
  height: auto;
}
.newsletter .newsletter__inscricao .inscricao__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: auto;
}
.newsletter .newsletter__inscricao .inscricao__form .inscricao__input {
  flex: 0 1 65%;
  background-color: #ccdbff;
  border: 2px solid #1e1e1e;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (max-width: 760px) {
  .newsletter .newsletter__inscricao .inscricao__form .inscricao__input {
    flex: 1 1 65%;
  }
}
.newsletter .newsletter__inscricao .inscricao__form .inscricao__input::placeholder {
  color: #1e1e1e;
}
.newsletter .newsletter__inscricao .inscricao__form .inscricao__input:focus {
  outline: none;
}
.newsletter .newsletter__inscricao .inscricao__form .inscricao__botao {
  background-color: #1e1e1e;
  color: #efefef;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.rodape {
  background-color: #1e1e1e;
  padding: 4% 8%;
}
@media screen and (max-width: 832px) {
  .rodape {
    padding: 4%;
  }
}
.rodape .rodape__colunas {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  gap: 32px;
}
@media screen and (max-width: 1200px) {
  .rodape .rodape__colunas {
    column-gap: 40px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "logo logo logo" "funcionamento institucional redes";
  }
  .rodape .rodape__colunas .coluna__logo {
    grid-area: logo;
  }
  .rodape .rodape__colunas .coluna__funcionamento {
    grid-area: funcionamento;
  }
  .rodape .rodape__colunas .coluna__institucional {
    grid-area: institucional;
  }
  .rodape .rodape__colunas .coluna__redes {
    grid-area: redes;
  }
}
@media screen and (max-width: 760px) {
  .rodape .rodape__colunas {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-template-areas: "logo" "funcionamento" "institucional" "redes";
    text-align: center;
  }
}
@media screen and (max-width: 428px) {
  .rodape .rodape__colunas {
    text-align: start;
  }
}
.rodape .rodape__colunas .rodape__coluna .rodape__coluna__titulo {
  margin-bottom: 1rem;
  color: #efefef;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.rodape .rodape__colunas .rodape__coluna .coluna__funcionamento__lista > .funcionamento__lista-item,
.rodape .rodape__colunas .rodape__coluna .coluna__funcionamento__lista > .funcionamento__lista-item > a,
.rodape .rodape__colunas .rodape__coluna .coluna__nav > .coluna__nav-link {
  color: #efefef;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .rodape .rodape__colunas .coluna__logo {
    text-align: center;
  }
}
.rodape .rodape__colunas .coluna__logo .coluna__logo__descricao {
  margin-top: 1.2rem;
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
.rodape .rodape__colunas .coluna__funcionamento > .coluna__funcionamento__lista,
.rodape .rodape__colunas .coluna__institucional > .coluna__nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 428px) {
  .rodape .rodape__colunas .coluna__redes .coluna__nav {
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1e1e1e;
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

/*# sourceMappingURL=style.css.map */
